{{!-- <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger</title>
</head>

<body>
	{{{ body }}}
	<script src="../../public/assets/js/burgers_buttons.js"></script>
</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Eat-Da-Burger</title>
</head>

<body class='bg'>
	<div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading" style="background-color: rgba(0, 0, 0, 0);">
                <h1 class="text-center h1 glow">EAT DA BURGER</h1>
            </div>
        </div>
    </div>
	<div class="container">
		{{{ body }}}
	</div>
	
	<script src="/assets/js/burgers_buttons"></script>
</body>

</html>