li {
    width: 400px;
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: palegreen;
    border-radius: 10px;
}

.change-devoured {
    border-radius: 30px;
    background-color: green;
    color: white;
}

.addburger {
    border-radius: 30px;
    background-color: crimson;
    color: white;
}

h3 {
    font-family: cursive;
}

h1 {
    font-family: fantasy;
    width: 100%;
    background-color: black;
    color: white;
}